<div>
  <div class="flex flex-col border max-h-52 overflow-auto">
    <div class="flex gap-1" *ngFor="let req of request;let i =index">
      <span class="flex-grow">{{req.name}}</span>
      <span class="min-w-[60px]">{{req.price}}</span>
      <button (click)="remove(i)">حذف</button>
    </div>
  </div>
  <div>
    {{'total : '+total }}
  </div>
  <input type="text" placeholder="code" #search (change)="searchCode = search.value">
  <!-- <input type="text" placeholder="name" #search (change)=""> -->
  <div class="flex flex-col border">
    <div *ngFor="let test of tests">
      <div class="flex gap-1" *ngIf="test.code == searchCode || searchCode=='' ">
        <span class="flex-grow">{{test.name}}</span>
        <span class="min-w-[60px]">{{test.price}}</span>
        <button (click)="add(test)">اضافة</button>
      </div>
    </div>
  </div>
</div>
<!-- *ngIf="test.name == search.value || search.value != ''" -->